<app-auth-layout>
  <div class="auth-simple">
    <h2 class="page-heading">Welcome to {{ clinicName }}</h2>
    <p class="page-sub">Please set a secure password for your account before continuing.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <ion-item class="clinic-input" lines="full">
        <ion-label position="floating">New password</ion-label>
        <ion-input type="password" formControlName="newPassword" autocomplete="new-password"></ion-input>
      </ion-item>
      <div
        class="form-error-message"
        *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid"
      >
        Use 8+ chars, uppercase, number, and special (!&#64;#$%^&*).
      </div>
      <ion-item class="clinic-input" lines="full">
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password" formControlName="confirmPassword" autocomplete="new-password"></ion-input>
      </ion-item>
      <div class="form-error-message" *ngIf="form.touched && form.hasError('passwordMismatch')">
        Passwords do not match
      </div>
      <button class="btn-primary wide" type="submit" [disabled]="saving">Save and continue</button>
    </form>
  </div>
</app-auth-layout>
